@media only screen and (min-width: 32.5em) { 
    h1 {
            font-size: 60px;
            color: white;
            align-self: left;
            text-align: left;
        }

    h2 {
        font-size: 40px;
    }

    img {
        max-width: 100%;
      }
} 