@media only screen and (min-width: 32.5em) { 
    h1 {
            font-size: 70px;
        }

    h2 {
        font-size: 40px;
    }
    .photo {
        display: flex;
        justify-content: center;
        align-content: center;
    }

} 