* {
    font-family: 'Arial';
}

body {
    border-radius: 5px;
    min-height: 406px;
    height: 70%;
    width: 70%;
    max-width: 700px;
    background-color: white;
}
header {
    background-color: rgb(46, 94, 139);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 5px;
    z-index: 15;
    box-shadow: 1px 1px 10px black;
}

.photo{
    grid-column: 1 ;  
   }
.home-title{
     grid-column: 2 3; 
   }

h1 {
    font-size: 40px;
    color: white;
    align-self: center;
}

main {
    width: 97%;
    margin: 2em 0 2em auto;
    position: relative;
}
h2 {
    border-bottom: solid 1px #cccccc;
    margin-bottom: 0;
    width: 95%;
}
ul {
    margin: 0;
    padding-top: 10px;
    height: 94%;
    overflow-y: auto;
}
ul li {
    padding-bottom: 5px;
}
a {
    color: blue;
}
a:active {
    color: blueviolet;
}
footer {
    background-color: rgb(46, 94, 139);
    position: relative;
    color: white;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
    box-shadow: 1px 1px 10px black;
}
